name: Use Send Payload Action to Pytest Testmon

on:
  push:
    branches:
      - main
      - 'test/pytest-testmon-workflow'
    paths:
      - 'project_a/**'
      - 'tests/**'
      - 'poetry.lock'
      - '.github/workflows/test_pytest-testmon_deploy_multi_os.yml'
      - '.github/workflows/test_pytest-cov-report_deploy_multi_os.yml'
      - '.github/workflows/test_pytest-html-report_deploy_multi_os.yml'
      - '.github/workflows/matrix.json'
      - '.github/workflows/send_payload_to_pytest_testmon.yml'
  workflow_dispatch:  # 手動実行も可能にする

jobs:
  test-and-send-dispatch:
    if: github.actor != 'dependabot[bot]' && !startsWith(github.event.head_commit.message, 'Bump version') && !startsWith(github.event.head_commit.message, '[skip ci]')
    runs-on: ubuntu-latest
    permissions:
      # Enable code checkout
      contents: write
      # Enable repository_dispatch triggers
      actions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

      - name: Send Payload to Pytest Testmon
        uses: 7rikazhexde/repo-dispatch-event-sender@main
        with:
          repository_name: '7rikazhexde/python-project-sandbox'
          event_type: 'test_pytest-testmon_deploy_multi_os'
          ghpages_branch: 'ghpages_pytest-testmon'
          os_list: '[ubuntu-latest, macos-latest, windows-latest]'
          version_list: '[3.11, 3.12]'
          custom_param: 'custom_param_test_val'  # 省略可能
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
